.main{
    border: 1px solid #777;
    border: none;
}
.bg{
    position: relative;
    filter: brightness(60%);
    width: 100%;
    margin-top: 150px;

}
h1{
    position: absolute;
    top: 220px;
    left: 600px;
    font-size: 60px;
    color: white;
}
h4{
    position: absolute;
    top: 280px;
    left: 450px;
    font-size: 30px;
    color: white;
    padding: 10px;
    font-weight: lighter;
}
.dropbtn{
    position: absolute;
    top: 380px;
    left: 450px;  
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none; 
    
}
.dropdwn{
position: relative;
display: inline-block;
border-bottom-left-radius: 3px;
border-top-left-radius: 3px;
border: none;
width: 100%;
padding: 4px 60px;
text-align: left;
height: 30px;


}
.drop{
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}
.drop a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.GG{
    position: absolute;
    display: inline-block;
    width: 200px;
    border: none;
    border-left: #777;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #f1f1f1;
    color: black;
    padding: 4px 60px;
    text-align: left;
    height: 22px;


}
hr{
    border-left: 2px solid rgb(49, 48, 48);
      height: 23px;
      position:absolute;
      left: 170px;
      top: 10px;
}